body{
    background-image: linear-gradient(100deg, #33860C, 50%, #f3f379);
    font-family: Ubuntu;
    background-attachment:fixed;
}
@font-face{
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
}
/*navigation bar*/
nav{
    background: #EAFFE2;
    display:flex;
    position: fixed;
    width: 98%;
    height: 6em;
    top: 1em;
    box-shadow: 0px 16px 16px -8px rgba(12, 12, 13, 0.2), 0px 4px 4px -4px rgba(12, 12, 13, 0.2);
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
}
img{
    position: sticky;
    width: 87px;
    height: 87px;
    background: #eaffe200;
}
.mobile{
    display: none;
}
.navbar{
    position: sticky;
    width: auto;
    height: 1.5em;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    background: #EAFFE2;
}
/*sidebar*/
aside{
    display:flex;
    flex-direction: column;
    position: fixed;
    left: 70%;
    width: 25em;
    height: 51em;
    top: 8em;
    bottom: 8em;
}
section{
    display: block flex;
    position: sticky;
    width: 25em;
    height: 10em;
    margin-top:1.5em;
    margin-bottom:1.5em;
    background: #EAFFE2;
    border-radius: 40px;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    justify-content: space-evenly;
    align-items: center;
}
section:hover{
    background: #eaffe200;
    box-shadow: none;
}
.sidebar{
    position: sticky;
    width: 20em;
    height: 5em;
    background: #215508;
    border-radius: 25px;
    color:#EAFFE2;
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: 8;
    font-size: 1.6em;
    text-align: center;
    margin: 1em;
    box-sizing: border-box;
    padding: 2em 0;
}
#green{
    background: #33860C;
}
#lightgreen{
    background: #4ECA15;
}
/*article*/
.article-one{
    display: flex;
    margin-top: 8em;
    width: 68%;
    flex-direction: column;
}
article > p{
    width: auto;
    height: auto;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 4em;
    text-wrap:stable;
    text-align-last: right;
    padding: 0.5em;
}
.headline-one{
    color:#EAFFE2;
}
.headline-two{
    color:#33860C;
    background: #EAFFE2;
}
span{
    animation-name: bold;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.article-two{
    display:grid;
    gap: 0.5em;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: 2em;
    width: 68%;
    height: 50em;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ellipse{
    box-sizing: border-box;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    background: #EAFFE2;
    box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
    color:#02542D;
    text-align: center;
    text-wrap: wrap;
    display: inline-block;
    font-weight: 900;
}
.ellipse:hover{
    box-shadow: 0.7em 0.7em 0.7em rgba(0, 0, 0, 0.546);
}
#major{
    border: 2em solid #02542D;
    padding-top: 7em;
}
#second, #third, #fourth{
    border: 0.7em solid #02542D;
    padding-top: 8em;
}

/*animations*/
@keyframes bold {
    from{
        color:#33860C;
        translate: 150vw;
    }
    to{
        color:#014a27;
        translate: 0;
    }
}
@keyframes blink {
    from{color:#ffffff00;}
    to{color:#EAFFE2;}
}

@media only screen and (max-width:1024px){
    nav{
        background: #EAFFE2;
        display:flex;
        position: sticky;
        z-index: 1;
        width: 98%;
        height: 6em;
        top: 1em;
        box-shadow: 0px 16px 16px -8px rgba(12, 12, 13, 0.2), 0px 4px 4px -4px rgba(12, 12, 13, 0.2);
        border-radius: 20px;
        justify-content: space-evenly;
        align-items: center;
        color: #ffffff00;
    }
    img{
        position: sticky;
        width: 50px;
        height: 50px;

    }
    .mobile{
        display: block;
        float:right;
    }
    aside{
        display:flex;
        flex-direction: column;
        position: static;
        width:auto;
        height: 51em;
        margin-top: 8em;
        align-items: center;
    }
    section{
        display: block flex;
        position: static;
        width: 70%;
        height: 10em;
        margin-top:1.5em;
        margin-bottom:1.5em;
        background: #EAFFE2;
        border-radius: 40px;
        box-shadow: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);
        justify-content: space-evenly;
        align-items: center;
    }
    .article-one{
        display: flex;
        margin-top: 8em;
        width: auto;
        flex-direction: column;
    }
    .article-two{
        display:grid;
        gap: 1em;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin-top: 2em;
        width: auto;
        height: 50em;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

